<div class="category-analysis-card">
    <h4><%= category.name %></h4>
    <div class="progress-bar">
        <div class="progress-fill" style="width: <%= category.percentage %>%"></div>
    </div>
    <p>$<%= category.spent %> / $<%= category.budget %></p>
</div>