<header class="header">
    <div class="header-content">
        <h1><i class="fas fa-wallet"></i> Gestor de Gastos Personales</h1>
        <nav>
            <a href="/"><i class="fas fa-home"></i> Inicio</a>
            <a href="/transactions"><i class="fas fa-list"></i> Transacciones</a>
            <a href="/categories"><i class="fas fa-tags"></i> Categorías</a>
            <a href="/categories/budgets/manage"><i class="fas fa-chart-pie"></i> Presupuestos</a>
            <a href="/transactions/new"><i class="fas fa-plus-circle"></i> Nueva Transacción</a>
        </nav>
    </div>
</header>